<!--<div class="menu">-->
<!--    <ul>-->
<!--        <li><a th:href="@{/taekwondo}">Home</a></li>-->
<!--        <li><a th:href="@{/taekwondo/students}">All Students</a></li>-->
<!--        <li><a th:href="@{/taekwondo/techniques}">All Techniques</a></li>-->
<!--        <li><a th:href="@{/taekwondo/students/add}">Add Student</a></li>-->
<!--        <li><a th:href="@{/taekwondo/techniques/add}">Add Technique</a></li>-->
<!--    </ul>-->
<!--</div>-->
<!--just for the menu to be displayed on all pages-->


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/taekwondo}">Taekwondo App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/taekwondo}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">All Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/techniques}">All Techniques</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students/add}">Add Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/techniques/add}">Add Technique</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/taekwondo/sessionhistory}">Session History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/techniques/search}">Filter Techniques by Type</a>
            </li>
        </ul>
    </div>
</nav>
