<!--<footer class="footer mt-auto py-3 bg-light">-->
<!--    <div class="container text-center">-->
<!--        <span class="text-muted">© 2023 by Master Kim Taekwondo Academy. All rights reserved.</span>-->
<!--    </div>-->
<!--</footer>-->


<!--<!DOCTYPE html>-->
<div th:fragment="footer">
<!--<html xmlns:th="http://www.thymeleaf.org">-->

<footer class="footer" id="footer">
    <div class="container-fluid mt-2">
        <div class="justify-content-center">

    <!-- Your footer content here -->
   <p class ="text center">&copy; 2023 by Master Kim Taekwondo Academy. All rights reserved.</p>
        </div>
</div>
    </footer>
</div>

