<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <thymeleaf th:fragment="meta_script_link" th:remove="tag">
        <meta charset="UTF-8"/>
        <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/site.css" />
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </thymeleaf>
</head>
<body>


<header th:fragment="header" class="pb-3">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Taekwondo App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/taekwondo}" th:classappend="${page == 'home'} ? 'active' : ''">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/students}" th:classappend="${page == 'allStudents'} ? 'active' : ''">All Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/techniques}" th:classappend="${page == 'allTechniques'} ? 'active' : ''">All Techniques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/taekwondo/sessionhistory}" th:classappend="${page == 'sessionHistory'} ? 'active' : ''">Session History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/techniques/search}" th:classappend="${page == 'filterTechniques'} ? 'active' : ''">Filter Techniques by Type</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item me-2 pt-2" sec:authorize="isAuthenticated()">
                        <span class="navbar-text">Welcome, <span sec:authentication="name"></span>!</span>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <form class="d-flex" th:action="@{/logout}" th:method="POST">
                            <button type="submit" class="btn btn-secondary"><i class="fas fa-sign-out-alt"></i> </button>
                        </form>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}" th:classappend="${page == 'login'} ? 'active' : ''"><i class="fas fa-sign-in-alt"></i></a>
                    </li>
                </ul>
<!--                &lt;!&ndash; Search form &ndash;&gt;-->
<!--                <form class="form-inline my-2 my-lg-0" th:action="@{/students/search}" method="get">-->
<!--                    <input class="form-control mr-sm-2" type="search" placeholder="Search Students" aria-label="Search" name="query">-->
<!--                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--                </form>-->
            </div>
        </div>
    </nav>
</header>
</body>
</html>
