<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"/>
    <title>Error-Technique</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

<header th:replace="~{fragments/includes :: header}"></header>

<main class="container">
    <h1>Error Page</h1>
    <p>Sorry, an error occured or something was not found. Please try again later.</p>
</main>
<a href="javascript:history.back()" class="btn btn-primary mt-3">Go Back</a>
</body>
</html>


