<!--<!DOCTYPE html>-->
<!--<html lang="en"-->
<!--      xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Login Page</title>-->
<!--    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>-->
<!--</head>-->
<!--<header th:replace="~{fragments/includes::header}"></header>-->
<!--<body>-->
<!--<main class="container text-center">-->
<!--    <div class="row justify-content-center">-->
<!--        <div class="col-md-12">-->
<!--            <div class="row mb-3 justify-content-center">-->
<!--                <h1 class="page-title text-primary">Log in</h1>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Log In Form Section &ndash;&gt;-->
<!--        <div class="col-md-12" sec:authorize="!isAuthenticated()">-->
<!--            <section class="mt-5 text-center">-->
<!--                <div class="row mb-3 justify-content-center">-->
<!--                    <form class="form-horizontal" method="POST" th:action="@{/login}">-->

<!--                        &lt;!&ndash; Error messages &ndash;&gt;-->
<!--                        <div class="row pb-3 justify-content-center">-->
<!--                            <div class="col-sm-4 alert alert-danger" th:if="${param.error}">-->
<!--                                Invalid username and password.-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row pb-3 justify-content-center">-->
<!--                            <div class="col-sm-4 alert alert-success" th:if="${param.logout}">-->
<!--                                You have been logged out.-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Email &ndash;&gt;-->
<!--                        <div class="row pb-3 justify-content-center">-->
<!--                            <div class="col-sm-2">-->
<!--                                <label class="form-label" for="username">Username</label>-->
<!--                                <input class="form-control" id="username" name="username" type="text">-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Password &ndash;&gt;-->
<!--                        <div class="row pb-3 justify-content-center">-->
<!--                            <div class="col-sm-2">-->
<!--                                <label class="form-label" for="password">Password</label>-->
<!--                                <input class="form-control" id="password" name="password" type="password">-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div th:if="${param.error}">-->
<!--                            <p class="failed">Sorry! You entered an invalid password/password.</p>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Login button &ndash;&gt;-->
<!--                        <div class="row justify-content-center">-->
<!--                            <div class="col-sm-2">-->
<!--                                <button class="btn btn-success" type="submit">Login</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </section>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taekwondo Management - Sign in</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"/>
    <link rel="stylesheet" href="../static/css/site.css" />
</head>
<body>

<header th:replace="~{fragments/includes :: header(page = 'login')}"></header>

<main class="container">
    <h1>Sign in</h1>
    <form th:action="@{/login}" method="post">
        <div class="pb-3">
            <label for="username" class="form-label">Username</label>
            <input name="username" id="username" class="form-control" type="text">
        </div>
        <div class="pb-3">
            <label for="password" class="form-label">Password</label>
            <input name="password" id="password" class="form-control" type="password">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</main>

</body>
</html>
