<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taekwondo Students - Search</title>
    <thymeleaf th:replace="~{includes :: meta_script_link}"/>
    <script src="/js/search-students.js" defer></script>
</head>
<body>

<header th:replace="~{includes :: header(page='search-students')}"></header>

<main class="container">
    <h1>Search Taekwondo Students</h1>
    <form>
        <div class="mb-3">
            <label for="searchTerm" class="form-label">Search term</label>
            <input type="text" class="form-control" id="searchTerm" aria-describedby="searchHelp">
            <div id="searchHelp" class="form-text">Searches by name or start date.</div>
        </div>
        <button type="button" class="btn btn-primary" id="searchButton">Search</button>
    </form>

    <section id="searchResultsSection" style="display: none;">
        <h2 class="mt-5">Students Found</h2>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Start Date</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>
</main>

</body>
</html>
