<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taekwondo Students - Search</title>
    <!-- Include meta tags, scripts, and links from fragments/includes if necessary -->
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"/>
    <!-- Correct the path to your JavaScript file -->
    <script src="/js/bundle-search-students.js" defer></script>
    <link rel="stylesheet" href="/css/bundle-search-students.css" />
</head>
<body>

<header th:replace="~{fragments/includes :: header(page='searchStudents')}"></header>

<main class="container">
    <h1>Search Taekwondo Students</h1>
    <form id="searchForm">
        <div class="mb-3">
            <label for="searchTerm" class="form-label">Search term</label>
            <input type="text" class="form-control" id="searchTerm">
        </div>
        <!-- Change the button type to submit -->
        <button type="button" class="btn btn-primary" id="searchButton"><i class="bi bi-search"></i>Search</button>
    </form>

    <section id="searchResultsSection" style="display: none;">
        <h2 class="mt-5">Students Found</h2>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Start Date</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </section>
</main>

</body>
</html>
