
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Student Cloud</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"/>



</head>
<body>

<header th:replace="~{fragments/includes :: header(page='sessionHistory')}"></header>

<h1>Sessions</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-striped-columns table-responsive table-bordered table-dark" >
                <tr>
                    <th>Time</th>
                    <th>Page</th>
                </tr>
                <tr th:each="visit : ${session.pageVisits}">
                    <td th:text="${visit.split(' - ')[1]}"></td>
                    <td th:text="${visit.split(' - ')[0]}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="mb-20" th:insert="~{fragments/footer :: footer}">&copy; 2023 by Master Kim Taekwondo Academy. All rights reserved.</div>
</body>
</html>
