<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>

    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>




    <script src="/js/bundle-student.js" defer></script>
    <link rel="stylesheet" href="/css/bundle-student.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>
<body>
<!-- Include the navbar fragments -->
<header th:replace="~{fragments/includes :: header}"></header>

<main class="container">
    <h1 th:text="${one_student.name} + ' Details'"></h1>
    <div class="row">
        <input type="hidden" id="studentId" th:value="${one_student.id}">
<!--        <p th:text="'ID: ' + ${one_student.id}"></p>-->
<!--        <p th:text="'Start Date: ' + ${one_student.startDate}"></p>-->
<!--    </div>-->
<!--    -->
        <div class="col-9">
            <label for="startDateInput" class="form-label">Start Date</label>
            <input th:if="${one_student.modificationAllowed}" class="form-control" id="startDateInput" type="date" th:value="${one_student.startDate}">
            <p th:if="${!one_student.modificationAllowed}" th:text="'Start Date: ' + ${one_student.startDate}"></p>
        </div>
        <div th:if="${one_student.modificationAllowed}" class="row mt-3">
            <!-- removed the disable for now as wanna test the update first-->
            <div>
                <button id="updateButton" type="button" class="btn btn-primary">Update</button>
            </div>
        </div>



    <!-- Display instructor information -->
    <h2>Technique Information:</h2>
    <div class="mt-5">
        <div class="dropdown" id="dropdownButtonWrapper">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="toggleTechniquesInformation">
                Techniques
            </button>
        </div>
        <table class="table table-sm mt-1" id="techniquesInformation" style="display: none;">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody id="techniquesInformationBody">
            <!-- Techniques will be dynamically added here -->
            </tbody>
        </table>
    </div>
</main>

<!-- Back button -->
<a href="javascript:history.back()" class="btn btn-primary mt-3">Go Back</a>

<!-- Include the footer fragments -->
<footer>
<div th:insert="~{fragments/footer :: footer}">&copy; 2023 by Master Kim Taekwondo Academy. All rights reserved.</div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
</body>
</html>
