<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Techniques</title>
<!--    <meta name="_csrf"   th:content="${_csrf.token}"/>-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"/>



</head>
<body>
<header th:replace="~{fragments/includes :: header(page='allTechniques')}"></header>
<div class="container">
    <h1>Techniques Page</h1>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Details</th> <!-- Add a new column for details -->
                    <th scope="col">Delete</th> <!-- Add a new column for delete -->
                </tr>
                </thead>
                <tbody>
                <tr th:each="technique : ${all_techniques}" th:class="${techniqueStat.odd}? 'odd'">
                    <td th:text="${technique.name}"></td>
                    <td th:text="${technique.type}"></td>
                    <td th:text="${technique.description}"></td>
                    <td>
                        <!-- Add a link to the details page for each technique -->
                        <a th:href="@{/technique(id=${technique.id})}" class="btn btn-info btn-sm">Details</a>

                    </td>
                     <td>
                        <!-- Add a link to the delete page for each technique -->
                        <a th:href="@{'/techniques/delete/' + ${technique.id}}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Include the footer fragments -->
<div th:insert="~{fragments/footer :: footer}">&copy; 2023 by Master Kim Taekwondo Academy. All rights reserved.</div>
</body>
</html>

