<!--&lt;!&ndash; technique-details.html &ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Technique Details</title>-->
<!--    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>-->
<!--    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>-->
<!--</head>-->
<!--<body>-->


<!--<div class="container">-->
<!--    <h1 th:text="${techniqueDetails.name} + ' Details'"></h1>-->

<!--    <p th:text="'ID: ' + ${techniqueDetails.id}"></p>-->
<!--    <p th:text="'Type: ' + ${techniqueDetails.type}"></p>-->
<!--    <p th:text="'Description: ' + ${techniqueDetails.description}"></p>-->

<!--    &lt;!&ndash; Display instructor information &ndash;&gt;-->
<!--    <h2>Instructor Information:</h2>-->
<!--    <p th:text="'Instructor ID: ' + ${techniqueDetails.instructor.id}"></p>-->
<!--    <p th:text="'Instructor Name: ' + ${techniqueDetails.instructor.name}"></p>-->
<!--    <p th:text="'Instructor Title: ' + ${techniqueDetails.instructor.title}"></p>-->
<!--</div>-->

<!--&lt;!&ndash; Back button &ndash;&gt;-->
<!--<a href="javascript:history.back()" class="btn btn-primary mt-3">Go Back</a>-->

<!--&lt;!&ndash; Include the footer fragment &ndash;&gt;-->
<!--<div th:insert="~{fragment/footer :: footer}">&copy; 2023 by Master Kim Taekwondo Academy. All rights reserved.</div>-->
<!--</body>-->
<!--</html>-->
<!-- technique-details.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Technique Details</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

<div class="container">
    <h1 th:text="${techniqueDetails.name} + ' Details'"></h1>

    <p th:text="'ID: ' + ${techniqueDetails.id}"></p>
    <p th:text="'Type: ' + ${techniqueDetails.type}"></p>
    <p th:text="'Description: ' + ${techniqueDetails.description}"></p>

    <!-- Display instructor information if present -->
    <h2>Instructor Information:</h2>
    <p th:if="${techniqueDetails.instructor != null}" th:text="'Instructor ID: ' + ${techniqueDetails.instructor.id}"></p>
    <p th:if="${techniqueDetails.instructor != null}" th:text="'Instructor Name: ' + ${techniqueDetails.instructor.name}"></p>
    <p th:if="${techniqueDetails.instructor != null}" th:text="'Instructor Title: ' + ${techniqueDetails.instructor.title}"></p>

</div>

<!-- Back button -->
<a href="javascript:history.back()" class="btn btn-primary mt-3">Go Back</a>

<!-- Include the footer fragment -->
<div th:insert="~{fragment/footer :: footer}">&copy; 2023 by Master Kim Taekwondo Academy. All rights reserved.</div>
</body>
</html>
